{% extends 'layout.html' %}

{% block content %}
    <center><div class="welcome2">Change Agriculturist's life</div>
        <div class="welcome3">สามารถกรอกสูตรปุ๋ยได้ตามต้องการ</div><br>
    <form action="/addForm" method="get" class ="w3-animate-opacity">
        <div class="form-group">
            <label for="" class="welcome3" class="focus">ไนโตรเจน</label>
            <input type="text" class="form-control" name="num1" style="width: 30%;" >
        </div>
        <div class="form-group">
            <label for="" class="welcome3" class="focus">ฟอสฟอรัส</label>
            <input type="text" class="form-control" name="num2" style="width: 30%;">
        </div>
        <div class="form-group">
            <label for="" class="welcome3" class="focus">โพแทสเซียม</label>
            <input type="text" class="form-control" name="num3" style="width: 30%;">
        </div>
        <div class="form-group">
            <label for="" class="welcome3" class="focus">พื้นที่ (ไร่)</label>
            <input type="text" class="form-control" name="num4" style="width: 30%;">
        </div>
        <div class="form-group">
            <label for="" class="welcome3" class="focus">อายุ (ปี)</label>
            <input type="text" class="form-control" name="num5" style="width: 30%;">
        </div>
        <input type="submit" value="submit" class="botton">
    </form>
    </center>
{% endblock %}