{% extends 'layout.html' %}
{% block content %}
    <center><div class="welcome">กรุณาเลือกแม่ปุ๋ย</div><br>
    <form action="/form"  class ="w3-animate-top">
        <button class="botton2"><div class="welcome3"> 
                46-0-0
        </div></button>
        </form>
  <form action="/form1_1" class ="w3-animate-zoom">
            <button class="botton3"><div class="welcome3"> 
                21-0-0
        </div></button>
            </form>
    <form action="/" class ="w3-animate-bottom">
            <button class="botton2"><div class="welcome3"> 
                            Back
                </div></button>
                        </form></center>
{% endblock %}
