{% extends 'layout.html' %}

{% block content %}
<br><br><br>
<center>
    <div  class="w3-animate-opacity" style="font-size: 60px;font-family: 'Kanit', sans-serif;
color: lightyellow;">Welcome to my application</div><br>
 <form action="/foropen"  class ="w3-animate-top w3-round-xxlarge">
    <button class="botton2"><div class="welcome3"> 
            คำนวณปุ๋ยผสมสำหรับยางพารา
    </div></button>
    </form><br>
<form action="/foropen2" class ="w3-animate-zoom w3-round-xxlarge">
        <button class="botton2"><div class="welcome3"> 
            คำนวณปุ๋ยผสมสำหรับปาล์มน้ำมัน
    </div></button>
        </form><br>
<form action="/foropen3" class ="w3-animate-bottom w3-round-xxlarge">
        <button class="botton2"><div class="welcome3"> 
                        คำนวณปุ๋ยผสมกำหนดเอง
</center>
{% endblock %}