{% extends 'layout.html' %}

{% block content %}
    <center><div class="welcome2">Change Agriculturist's life</div>
        <div class="welcome3">สามารถกรอกสูตรปุ๋ยได้ตามต้องการ</div><br>
    <form action="/forinputpalm" method="get" class ="w3-animate-opacity">
        <div class="form-group">
            <label for="" class="welcome3" class="focus">จำนวนไร่</label>
            <input type="text" class="form-control" name="area" style="width: 30%;" >
        </div>
        <div class="form-group">
            <label for="" class="welcome3" class="focus">อายุ (กรุณากรอกในช่วงอายุ 5 ปีขึ้นไป) </label>
            <input type="text" class="form-control" name="age" style="width: 30%;" >
        </div>
        <input type="submit" value="submit" class="btn btn-success">
    </form>
    </center>
{% endblock %}