{% extends 'layout.html' %}
{% block content %}
<center>
    <br>
    <dir class="welcome2">ตารางแสดงผลปริมาณแม่ปุ๋ยและราคา</dir>
    <table style="width: 50%; height: 80%; text-align: center;" border="1"  class="w3-animate-zoom">
        <tr>
            <th>ชื่อแม่ปุ๋ย</th>
            <th>ปริมาณแม่ปุ๋ย (กิโลกรัม)</th>
            <th>ราคาแม่ปุ๋ย (บาท)</th>
        </tr>
        <tr>
            <th>ปุ๋ยไนโตรเจน</th>
            <td>{{Urea}}</td>
            <td>{{cost_Urea}}</td>
        </tr>
        <tr >
            <th>ปุ๋ย DAP</th>
            <td>{{DAP}}</td>
            <td>{{cost_DAP}}</td>
        </tr>
        <tr>
            <th>ปุ๋ย MOP</th>
            <td>{{MOP}}</td>
            <td>{{cost_MOP}}</td>
        </tr>
        <tr>
            <th>MGO</th>
            <td>{{MgO}}</td>
            <td>{{cost_Mgo}}</td>
        </tr>
        <tr>
            <th>สารเติมเต็ม</th>
            <td>{{element}}</td>
            <td>-</td>
        </tr>
        <tr>
            <th>ปริมาณรวม</th>
            <td>{{total}}</td>
            <td>{{cost_Total}}</td>
        </tr>
    </table><br>
    <form action="/forpreindex">
        <button class="btn btn-success">กลับ</button></form>
</center>
{% endblock %}