{% extends 'layout.html' %}
{% block content %}
<center>
    <br>
    <dir class="welcome2">ตารางแสดงผลปริมาณแม่ปุ๋ยและราคา</dir>
    <table style="width: 50%; height: 80%; text-align: center;" border="1"  class="w3-animate-zoom">
        <tr>
            <th>ชื่อแม่ปุ๋ย</th>
            <th>ปริมาณแม่ปุ๋ย</th>
            <th>ราคาแม่ปุ๋ย</th>
        </tr>
        <tr>
            <th>ปุ๋ยไนโตรเจน</th>
            <td>{{Urea}} กิโลกรัม</td>
            <td>{{cost_Urea}} บาท</td>
        </tr>
        <tr >
            <th>ปุ๋ย DAP</th>
            <td>{{DAP}} กิโลกรัม</td>
            <td>{{cost_DAP}} บาท</td>
        </tr>
        <tr>
            <th>ปุ๋ย MOP</th>
            <td>{{MOP}} กิโลกรัม</td>
            <td>{{cost_MOP}} บาท</td>
        </tr>
        <tr>
            <th>MGO</th>
            <td>{{MgO}} กิโลกรัม</td>
            <td>{{cost_Mgo}} บาท</td>
        </tr>
        <tr>
            <th>สารเติมเต็ม</th>
            <td>{{element}} กิโลกรัม</td>
            <td>-</td>
        </tr>
        <tr>
            <th>ปริมาณรวม</th>
            <td>{{total}} กิโลกรัม</td>
            <td>{{cost_Total}} บาท</td>
        </tr>
    </table><br>
    <form action="/">
        <button class="btn btn-success">กลับ</button></form>
</center>
{% endblock %}