body {
    background: url(https://sv1.picz.in.th/images/2020/06/01/qUrgSe.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover
  }
  table {
          border : 55px;
          width: 100%;
          height: 100%;
          background-color: lightyellow;
  }
  th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
    }

  tr:hover{background-color:#f5f5f5}
  .welcome {
      font-size: 60px;
      font-family: 'Kanit', sans-serif;
      color: lightyellow;
  }
  .welcome2 {
      font-size: 40px;
      font-family: 'Kanit', sans-serif;
      color: lightyellow;
  }
  .welcome3 {
      font-size: 20px;
      font-family: 'Kanit', sans-serif;
      color: lightyellow;
  }
  .botton {
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .botton2 {
    background-color: darkgreen;
    width: 60%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  .focus{
   background-color: lightblue;
  }