{% extends 'layout.html' %}

{% block content %}
<br><br><br>
<center>
    <div  class="w3-animate-opacity" style="font-size: 60px;font-family: 'Kanit', sans-serif;
color: lightyellow;">กรุณาเลือกพืช</div><br>
 <form action="/foropenrubber"  class ="w3-animate-top w3-round-xxlarge">
    <button class="botton2"><div class="welcome3"> 
            ยางพารา
    </div></button>
    </form>
<form action="/foropenpalm" class ="w3-animate-zoom w3-round-xxlarge">
        <button class="botton2"><div class="welcome3"> 
            ปาล์มน้ำมัน
    </div></button>
        </form>
</center>
{% endblock %}