{% extends 'layout.html' %}
{% block content %}
<div class="w3-container">
    <h2>Card Example</h2>
    <div class="w3-card-4" style="width:70%">
      <header class="w3-container w3-dark-grey">
        <h3>บัญญวัฒ นวลนาค</h3>
      </header>
      <div class="w3-container w3-light-grey w3-animate-top">
        <p>ผู้พัฒนาเว็บไซต์</p>
        <hr>
        <img src="https://static.zerochan.net/Nura.Rikuo.(human).full.1361662.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p>ชื่นชอบการเขียนโปรแกรม ชีววิทยา และคณิตศาสตร์</p><br>
      </div>
      <button class="w3-button w3-block w3-dark-grey" onclick="window.location.href='https://web.facebook.com/bunyawat4263?__m_async_page__=1';">
        view my facebook
      </button>
    </div>
  </div>
{% endblock %}