{% extends 'layout.html' %}
{% block content %}
<div class="w3-container">
    <h2 class="welcome2">About Dev.</h2>
    <div class="w3-card-4" style="width:70%">
      <header class="w3-container w3-dark-grey">
        <h3 class="welcome3">บัญญวัฒ นวลนาค</h3>
      </header>
      <div class="w3-container w3-light-grey w3-animate-top">
        <p>ผู้พัฒนาเว็บไซต์</p>
        <hr>
        <img src="https://scontent.fhdy2-1.fna.fbcdn.net/v/t1.0-9/s960x960/84723632_814118192333276_1868966284553617408_o.jpg?_nc_cat=104&_nc_sid=85a577&_nc_eui2=AeFSJGns2esAwkZmKMMjDldOqpNDJ3UbYseqk0MndRtix_TogLXt4ZDzI8HgkPjnpFZ-s9F7jGtUVAL3CAgdo4K2&_nc_ohc=CnA9IJ7V06MAX_5RjlL&_nc_ht=scontent.fhdy2-1.fna&_nc_tp=7&oh=a5de61ccc11fbe3cc755018be27c517a&oe=5F0F1EB0" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p>ชื่นชอบการเขียนโปรแกรม ชีววิทยา และคณิตศาสตร์</p><br>
      </div>
      <button class="w3-button w3-block w3-dark-grey" onclick="window.location.href='https://web.facebook.com/bunyawat4263?__m_async_page__=1';">
        view my facebook
      </button>
    </div>
  </div>
{% endblock %}